{% extends "base.html.twig" %}
      {% block body %}
          <main>
              <h1>{{ slug }}</h1>
              <div>
                  <h1>Real article s title : {{ article.title }}</h1>
                  <h2>Category : {{ article.category.name }}</h2>
                  <p>{{ article.content }}</p>
              </div>

              <a href="{{ path('app_index') }}">
                  Back to homepage.
              </a>
          </main>
      {% endblock %}