{% extends "base.html.twig" %}

    {% block body %}
        <main>
            <h1> {{ name }} </h1>
            {% for article in articles %}
            {{ article.id }} {{ article.title }} {{ article.category.name }}
                <p>{{ article.content }}</p>
            {% endfor %}
        </main>
    {% endblock %}